@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary font-sans;
    direction: rtl;
  }
}
